$primaryColor :   #000608;
$primaryTextColor : #0ba0d3;
$primaryBorder : 1px solid rgba(1, 1, 1, 0.1);
$bodyColor :  #d5e6ec;
$white : #FFFFFF;
$todoContentMargin : 0 auto 0 auto;
$boxShadow : 0px 10px 40px 0px rgba(1, 1, 1, 0.1);
$contentColor : #828383;
$contentPadding : 10px 0 10px 20px;
$containerMargin : 70px 0 0 0;
$descFormHeight : 30px;
$transform : rotate(0deg) scale(1);
$transition : -webkit-transform 0.1s ease-out;
// $90Per : percentage(90/100);
